---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tenzu-back.fullname" . }}
  labels:
    app.kubernetes.io/component: "api"
    {{- include "tenzu-back.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "tenzu-back.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- include "tenzu-back.secretDependenciesAnnotations" . | nindent 8 }}
        kubectl.kubernetes.io/default-container: {{ .Chart.Name }}
      labels:
        {{- include "tenzu-back.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tenzu-back.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-caddy
          image: caddy:2.9-alpine
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /live/
              port: 80
          readinessProbe:
            httpGet:
              path: /ready/
              port: 80
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/caddy/Caddyfile
              name: config
              subPath: Caddyfile
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: "configurations.settings"
            - name: TENZU_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: TENZU_MAX_UPLOAD_FILE_SIZE
              value: {{ .Values.global.maxUploadFileSize | quote }}
            {{- include "tenzu-back.urls" . | nindent 12 -}}
            {{- include "tenzu-back.sentryEnvValues" . | nindent 12 -}}
            {{- include "tenzu-back.redisEnvValues" . | nindent 12 -}}
            {{- include "tenzu-back.postgresqlEnvValues" . | nindent 12 -}}
            {{- include "tenzu-back.emailEnvValues" . | nindent 12 -}}
            {{- include "tenzu-back.s3EnvValues" . | nindent 12 -}}
            {{- range $key, $val := .Values.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
          envFrom:
            - secretRef:
                name: tenzu-secrets
          {{- if not (empty .Values.envFrom )}}
          {{- toYaml .Values.envFrom | nindent 12 }}
          {{- end }}
          {{- if .Values.granian}}
          command: ["granian"]
          args:
            - "--interface"
            - "asgi"
            - "configurations.asgi:application"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "{{ .Values.service.port }}"
            - "--workers"
            - "{{ .Values.workersQuantity }}"
            - "--log-level"
            - "{{ .Values.logLevel | default "warning" }}"
            - "--access-log"
          {{- else }}
          command: ["gunicorn"]
          args:
            - "configurations.asgi:application"
            - "-k"
            - "uvicorn.workers.UvicornWorker"
            - "-n"
            - "{{ include "tenzu-back.fullname" . }}"
            - "-w"
            - "{{ .Values.workersQuantity }}"
            - "-t"
            - "{{ .Values.workersTimeout }}"
            - "-b 0.0.0.0:{{ .Values.service.port }}"
            - "--access-logfile"
            - "-"
            - "--log-file"
            - "-"
            - "--capture-output"
            - "--log-level"
            - "{{ .Values.logLevel | default "warning" }}"
          {{- end}}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- if not .Values.s3.enable }}
          volumeMounts:
            - name: media
              mountPath: /public/media
          {{- end }}

      volumes:
        - name: config
          configMap:
            name: "{{ include "tenzu-back.fullname" . }}-caddy-config"
            items:
              - key: Caddyfile
                path: Caddyfile
                mode: 0644
      {{- if not .Values.s3.enable }}
        - name: media
          persistentVolumeClaim:
            claimName: pvc-{{ .Release.Name }}-media
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tenzu-back.fullname" . }}-worker
  labels:
    app.kubernetes.io/component: "task-queue"
    {{- include "tenzu-back.workerLabels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "tenzu-back.workerLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- include "tenzu-back.secretDependenciesAnnotations" . | nindent 8 }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "tenzu-back.workerLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tenzu-back.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: TENZU_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: TENZU_MAX_UPLOAD_FILE_SIZE
              value: {{ .Values.global.maxUploadFileSize | quote }}
            {{- include "tenzu-back.urls" . | nindent 12 -}}
            {{- include "tenzu-back.sentryEnvValues" . | nindent 12 -}}
            {{- include "tenzu-back.redisEnvValues" . | nindent 12 -}}
            {{- include "tenzu-back.emailEnvValues" . | nindent 12 -}}
            {{- include "tenzu-back.postgresqlEnvValues" . | nindent 12 -}}
            {{- range $key, $val := .Values.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{- end }}
          envFrom:
            - secretRef:
                name: tenzu-secrets
          {{- if not (empty .Values.envFrom )}}
          {{- toYaml .Values.envFrom | nindent 12 }}
          {{- end }}
          command: ["python"]
          args:
            - "manage.py"
            - "procrastinate"
            - "worker"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if not .Values.s3.enable }}
          volumeMounts:
            - name: media
              mountPath: /public/media
          {{- end }}
      {{- if not .Values.s3.enable }}
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: pvc-{{ .Release.Name }}-media
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
