apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "tenzu-back.fullname" . }}-migrate
  labels:
    app.kubernetes.io/component: "job"
    job-name: "{{ .Release.Name }}-migrate"
    {{- include "tenzu-back.labels" . | nindent 4 }}
  annotations:
    "argocd.argoproj.io/hook": PostSync
    "argocd.argoproj.io/hook-delete-policy": BeforeHookCreation,HookSucceeded
    "helm.sh/hook": post-install, pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  template:
    metadata:
      name: {{ include "tenzu-back.fullname" . }}
      labels:
        {{- include "tenzu-back.labels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      restartPolicy: Never
      containers:
      - name: migrate
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        command: ["./manage.py", "migrate", "--noinput"]
        env:
          {{- include "tenzu-back.sentryEnvValues" . | nindent 10 -}}
          {{- include "tenzu-back.redisEnvValues" . | nindent 10 -}}
          {{- include "tenzu-back.postgresqlEnvValues" . | nindent 10 -}}
          {{- range $key, $val := .Values.env }}
          - name: {{ $key }}
            value: {{ $val | quote }}
          {{- end }}
        envFrom:
          - secretRef:
              name: tenzu-secrets
        {{- if not (empty .Values.envFrom )}}
        {{- toYaml .Values.envFrom | nindent 10 }}
        {{- end }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        {{- if not .Values.s3.enable }}
        volumeMounts:
          - name: media
            mountPath: /public/media/
        {{- end }}

      {{- if not .Values.s3.enable }}
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: pvc-{{ .Release.Name }}-media
      {{- end }}
{{- range $job := .Values.cronJobs }}
{{- with $ }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "tenzu-back.fullname" . }}-{{ $job.name }}
  labels:
    app.kubernetes.io/component: "cronjob"
    job-name: "{{ $.Release.Name }}-{{ $job.name }}"
    {{- include "tenzu-back.labels" . | nindent 4 }}
spec:
  schedule: {{ $job.schedule }}
  jobTemplate:
    metadata:
      name: {{ include "tenzu-back.fullname" . }}
      labels:
        {{- include "tenzu-back.labels" . | nindent 8 }}
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 10 }}
          {{- end }}
          containers:
          - name: reset
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
            command:
              {{- toYaml $job.command | nindent 14 }}
            env:
              {{- include "tenzu-back.sentryEnvValues" . | nindent 14 -}}
              {{- include "tenzu-back.redisEnvValues" . | nindent 14 -}}
              {{- include "tenzu-back.postgresqlEnvValues" . | nindent 14 -}}
              {{- range $key, $val := .Values.env }}
              - name: {{ $key }}
                value: {{ $val | quote }}
              {{- end }}
            envFrom:
            - secretRef:
                name: tenzu-secrets
            {{- if not (empty .Values.envFrom )}}
            {{- toYaml .Values.envFrom | nindent 14 }}
            {{- end }}
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            resources:
              {{- toYaml .Values.resources | nindent 14 }}
            {{- if not .Values.s3.enable }}
            volumeMounts:
              - name: media
                mountPath: /public/media/
            {{- end }}

          {{- if not .Values.s3.enable }}
          volumes:
            - name: media
              persistentVolumeClaim:
                claimName: pvc-{{ $.Release.Name }}-media
          {{- end }}
{{ end -}}
{{ end -}}