apiVersion: v1
kind: Secret
metadata:
  name: tenzu-secrets
  labels:
    {{- include "tenzu-back.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install	, pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation
    "helm.sh/hook-weight": "-1"
type: Opaque
stringData:
  TENZU_SECRET_KEY: {{ .Values.secretKey | quote }}
  TENZU_TOKENS__SIGNING_KEY: {{ .Values.tokenSigningKey | quote }}
  {{- include "tenzu-back.redisSecretEnvValues" . | nindent 2 -}}
  {{- include "tenzu-back.postgresqlSecretEnvValues" . | nindent 2 -}}
{{- range $key, $val := .Values.secretEnv }}
  {{ $key }} : {{ $val | quote }}
{{- end }}
